body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.hero-img {
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.hero-text {
    position: absolute;
    color: #ffe8c2;
    background:linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.6)
    );
    width: 100%;
    height: 100%;
    place-content: center;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    top: 0;
}

h1 {
    font-size: 7rem;
    margin-bottom: -20px;
    color: antiquewhite;
    margin-top: -60px;

}

.hero-text h2 {
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 70px;
}

.hero-text p {
    font-size: 1.5rem;
    color: #d6bd9c;
    font-weight: bold;
}

.CTA-buttons {
    width: 30%;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: #a0522d;
    padding: 15px 30px;
    border: 2px solid #fffaf0;
    border-radius: 30px;
    text-decoration: none;
    color:#ffe8c2;
    font-size: 1.2rem;
    font-weight: bold;
}


.about-div {
    padding: 70px 0;
    text-align: center;
    background-color: #fffaf0;
}

h3 {
    color: #745539;
    font-size: 2.8rem;
    margin-bottom: 3rem;
}

.about-sec p {
    font-size: 1.15rem;
    width: 70%;
    margin: 2rem auto;
    color: #3e2c1c;
    line-height: 2rem;
}

.barista-team-img {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}

.menu-section {
    background: linear-gradient(
        #f4e9dc 0%,
        #e2cfc3 50%,
        #d3b8ae 100%
     );
    margin: 0;
    padding: 0;
    display: grid;
}

.menu-img {
    width: 70%;
    height: 700px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

.menu-title {
    text-align: center;
    margin-top: 100px;
}

.menu-summary {
    text-align: center;
    color:#6d5e58;
    font-style: italic;
    font-size: 1.2rem;
    margin-top: -30px;
}

.menu-filter {
    display: flex;
    margin: 10px auto;
    justify-content: space-evenly;
    width: 45%;
    padding: 40px;
    background-color: #f8f2eb;
    color: #554945;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.menu-div {
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    gap: 5rem;
    margin: 5rem auto 0 auto;
    width: 95%;
}

.menu-item {
    text-align: center;
    color:#554945;
    font-size: 1.2rem;
}

.menu-item p {
    display: flex;
    width: 80%;
    margin: 2rem auto;
    background-color: #f8f2eb;
    justify-content: space-around;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.menu-item span {
    font-weight: bold;
}

.order-now-section {
    background: linear-gradient(
        #f9f5f1,
        #e5d3c2,
        #f9f5f1);
    margin: 0;
    padding: 100px;
}

.order-now-title, .order-p {
    text-align: center;
    margin: 0;
    padding-bottom: 2rem;
    color: #745539;
}

.order-form {
    color: #75645f;
    max-width: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    background-color: #f9f5f1;
    border-radius: 15px;
    padding: 1.5rem;

}

.order-form input, select {
    padding: 0.5rem;
    margin: 0 0.25rem;
    font-family: serif;
    border-radius: 5px;
    color: #635753;
    font-size: 1rem;
}

.order-form button {
    background-color: #a07253;
    color: #fff;
    border: none;
    padding: 0.75rem;
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    font-weight: bold;
}

.add-ons-div, .pick-up-div, .size-div {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    text-indent: 2rem;
    margin-top: 1.15rem;
    
}

fieldset {
    padding: 1.5rem 1.5rem;
}




@keyframes hero-zoom {

}

